.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.image-container {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin: 5px;
}

.image {
  width: 150px;
  height: 150px;
}

.image-single {
  padding-top: 20px;
  width: 250px;
  height: 250px;
}

.label {
  display: block;
  margin-top: 5px;
}

header {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.types-top {
  width: 75px;
  height: 25px;
}

.types {
  width: 120px;
  height: 40px;
  top: 0;
  left: 0;
  position: absolute;
}

.types-container {
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
  flex-direction: row;
  text-align: center;
}

.types-container-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: inline-block;
}

.button {
  font-size: 16px;
  color: rgb(236, 244, 8);
}

.img-table {
  width: 60px;
  height: 20px;
}

table {
  border-collapse: collapse;
  border-spacing: 10px;
}
td,
th {
  border: 1px solid black;
  padding: 10px;
}
th {
  border-bottom: 1px solid black;
}

th.last-column,
td.last-column {
  width: 100%;
}

.even {
  background-color: #d2d2d2;
}

.odd {
  background-color: #ffffff;
}

.top-right-btn {
  position: absolute;
  right: 20px;
  top: 20px;
}

.bottom-right-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
